@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin defaultMargin {
    margin: 0 100px;
}

@mixin mdMargin {
    margin: 0 50px;
}

@mixin smMargin {
    margin: 0 20px;
}

@mixin smallScreen {
    @media screen and ($below-sm) {
        @content;
    }
}

@mixin mediumScreen {
    @media screen and ($above-sm) and ($below-md) {
        @content;
        
    }
}