$primary_color : #FF6060;
$secondary_color : #E3E3E3;
$white_color : #FFFFFF;
$bg_primary: #F6F6F6;
$bg_secondary : #000;

$below-sm: "max-width: 767px";
$above-sm: "min-width: 768px";
$below-md: "max-width: 992px";
$above-md: "min-width: 993px";